.hi {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: #d8d4d4;
    border-top: 1px solid #b6b6b6;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.hi a {
    margin: 0 10px; /* Add margin between links */
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-text {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.log {
    position: fixed;
    bottom: 0;
    left: 50%; /* Adjust as needed */
    transform: translateX(-50%);
}
.nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links ul li {
    display: inline;
    margin-right: 20px;
  }
  
  .nav-link {
    color: rgb(0, 60, 129);
    color: #fff;
    text-decoration: none;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  .logo-text {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  .logo{
    margin-right: auto;
    padding-left: 10px;
  }
