body {
    background-color:white;
    color: blue;
    padding: 20px;
  }
  
  h1 {
    text-align: left;
    color: #1c1c84;
    margin-left: 50px;
  }
  
  .containerj {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .person-card {
    border: 2px solid blue;
    padding: 20px;
    margin: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .person-card:hover {
    transform: scale(1.05);
  }
  
  .person-card img {
    width: 200px;
    height: 200px;
  }
  
  .appointment-form {
    margin-top: 20px;
  }
  
  .appointment-form h3 {
    text-align: left;
  }
  